body {
  font-family: "Spartan", sans-serif;
  padding: 0;
  height: 100%;
  background: url(images/bg-pattern-bottom-desktop.svg) right bottom no-repeat,
    url(images/bg-pattern-top-desktop.svg) left top no-repeat;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.para {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: hsl(303, 10%, 53%);
}
.rating{
    margin-top: 3rem;
}
.ratings {
  background-color: hsl(300, 24%, 96%);
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px;
}

.rate p {
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.rating-1 {
  margin: 15px 120px 0px 0px;
}
.rating-2 {
  margin: 15px 60px;
}
.rating-3 {
  margin: 15px 0px 0px 120px;
}
.testimonial-1{
    margin: 0px 0px 0px 0px;
}
.testimonial-2{
    margin: 25px 0;
}
.testimonial-3{
    margin: 50px 0px 0px 0px;
}
.testimonial-1,.testimonial-2,.testimonial-3{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 1.5rem;
}

.rounded-circle{
    max-width: 50px;
    max-width: 50px;
    margin: 20px 0px;
}

.media-body .name{
    font-size: 15px;
    margin: 25px 20px 0px 0px;
    font-weight: 700;
    color: hsl(300, 24%, 96%);
}
.media-body .buyer{
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    font-size: 13px;
}
.testimonial-review{
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    font-weight: 400;
}
@media only screen and (max-width: 768px){
    .title{
        font-size: 30px;
        text-align: center;
    }
    .para{
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }
    .rating{
        margin-top: 1rem;
    }
    .ratings{
        padding: 0.7rem;
    }
    .rating-1, .rating-2, .rating-3{
        margin: 1rem;
    }
    .rate{
        padding-top: 0.5rem;
        font-size: 14px;
    }
    .testimonial-1, .testimonial-2, .testimonial-3{
        margin: 1rem ; 
    }
}